<!DOCTYPE html>
<html>
    <link  href="http://fonts.googleapis.com/css?
    family=Reenie+Beanie:regular" 
    rel="stylesheet"
    type="text/css">
    
    <head>
        <title>Note Overview </title>

        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
        <link href={{ url_for('static',filename='css/bootstrap.css') }} rel="stylesheet">
        <link href={{ url_for('static',filename='css/fontawesome-all.css') }} rel="stylesheet">
        <link href={{ url_for('static',filename='css/swiper.css') }} rel="stylesheet">
        <link href={{ url_for('static',filename='css/magnific-popup.css') }} rel="stylesheet">
        <link href={{ url_for('static',filename='css/styles.css') }} rel="stylesheet">
        <link href={{ url_for('static',filename='css/notes.css') }} rel="stylesheet">
    </head>


    <body style="background-color:#fff;">
      <section class="notes__background-image">
        <a href="/logout/" class="notes__logout btn-solid-lg">Logout</a>
        <article class="notes__background-title-container">
          <h1 class="notes__title">Welcome</h1>
          <h2 class="notes__title-user">{{session['username']}}</h2>
        </article>
      </section>
      <section style="text-align: center; margin-top: 10px;">
        <form action="" method="post" class="notes__input-wrapper">
          <div class="notes__input-container">
            <label for="note">Search among you notes:</label>
            <input class="form-control notes__input__no-margin" style="margin-left: auto; margin-right: auto;" type="text" placeholder="My note..." name="search" value={{request.form.search}} >
          </div>
          <input class="btn-solid-lg notes__input-margin-top" type="submit" name="submit_button" value="search note">
      </form> 
      </section>
      <section class="notes__body-content notes__body-top-padding">
        <p class="notes__text">Search result</p>
        <ul class="notes__item-container">
            {% for note in searchedNotes %}
              {% include "note.html" %}
            {% endfor %}
        </ul>
      </section>
      <section class="notes__body-content notes__body-top-padding">
        <div class="notes__body-top-border"></div>
        <p class="notes__text">Here are your notes:, you can share your notes by sharing your public id</p>
        <ul class="notes__item-container">
            {% for note in notes %}
              {% include "note.html" %}
            {% endfor %}
        </ul>
      </section>
      <section class="notes__body-content notes__body-bottom-padding">
        <div class="notes__body-top-border"></div>
        <form action="" method="post" class="notes__input-wrapper">
            <div class="notes__input-container">
              <label for="note">New note:</label>
              <textarea name="noteinput" placeholder=">Enter text here..." class="textfield form-control" value={{ request.form.noteinput }}></textarea><br>
            </div>
            <input class="btn-solid-lg notes__input-margin-top" type="submit" name="submit_button" value="add note">
        </form> 
        
        <form action="" method="post" class="notes__input-wrapper">
            <div class="notes__input-container">
              <label for="note">Import a note from someone else:</label>
              <input class="form-control notes__input__no-margin" type="text" placeholder="XXXXXXXXXX" name="noteid" value={{request.form.noteid}}>
            </div>
            <input class="btn-solid-lg notes__input-margin-top" type="submit" name="submit_button" value="import note">
        </form> 
        {% if importerror %}
              <p class="p-large"><strong>Error:</strong> {{ importerror }}
        {% endif %}
      </section>     
      
      <!-- Scripts -->
    <script src={{ url_for('static',filename='js/jquery.min.js') }}></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src={{ url_for('static',filename='js/popper.min.js') }}></script> <!-- Popper tooltip library for Bootstrap -->
    <script src={{ url_for('static',filename='js/bootstrap.min.js') }}></script> <!-- Bootstrap framework -->
    </body>

</html>